

/* UTILS */
.bg_red{
    background-color: red;
}


.bg_yellow{
    background-color: yellow;
}

.bg_blue{
    background-color: blue;
}

.text_light{
    color: lightgray;
}

.text_dark{
    color: darkgray;
}

.text_alert{
    color: red;
}

.flex{
    display: flex;
}

.justify_center{
    justify-content: center;
}

.justify_between{
    justify-content: space-between;
}

.justify_end{
    justify-content: flex-end;
}

.align_center{
    align-items: center;
}

.text_center{
    text-align: center;
}

.gap_40{
    gap: 40px;
}

.padding_24px{
    padding: 24px;
}

.gap_12px{
    gap:12px;
}

.width_80{
    width: 80%;
}

/* COMPONENT */
.alert_box{
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #f8d7da;
}

.alert_text{
    margin: 0;
    color: #b00020;
}

.btn_primary{
    background-color: #008cba;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn_primary:hover{
    background-color: #007bb5;
}

.btn_secondary{
    background-color: #e7e7e7;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn_secondary:hover{
    background-color: #d6d6d6;
}
