.card {
  height: 100%;
}

.price {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1a1f36;
}


.inactive{
  opacity: 0.5;
}

.bellIcon {
  width: 24px;
  height: 24px;
  color: red;
}

.cartIcon {
  width: 24px;
  height: 24px;
  color: green;
}