
.movileList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}   


.movieContent{
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}


.moviePoster{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.movieInfo{
    padding: 15px;
}


.searchList{
    text-align: center;
    margin-bottom: 20px;
}

#searchInput{
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

.loading{
    text-align: center;
    margin-bottom: 20px;
    display: none;
}