/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */


/* FONTS */
@font-face {
  font-family: PoppinsRegular;
  src: url('../../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: PoppinsMedium;
  src: url('../../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url('../../fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: PoppinsBold;
  src: url('../../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: RobotoRegular;
  src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: RobotoBold;
  src: url('../../fonts/Roboto/static/Roboto-Bold.ttf');
}

@font-face {
  font-family: RobotoSemiBold;
  src: url('../../fonts/Roboto/static/Roboto-SemiBold.ttf');
}

@font-face {
  font-family: RobotoMedium;
  src: url('../../fonts/Roboto/static/Roboto-Medium.ttf');
}

/* ROOT */
:root{
    /* COLORS */
    --mainGreen: #71A894;
    --mainWhite: #FFFFFF;
    --text-color: #303031;
    --text-color-light: #66645E;
    --grayColor: #E7E7E7;
    --grayColor2: #F9F9F9;

    /* FONTS */
    --poppins-bold: 'PoppinsBold', sans-serif;
    --poppins-semi-bold: 'PoppinsSemiBold', sans-serif;
    --poppins-regular: 'PoppinsRegular', sans-serif;
    --poppins-medium: 'PoppinsMedium', sans-serif;
    --roboto-regular: 'RobotoRegular', sans-serif;
    --roboto-bold: 'RobotoBold', sans-serif;
    --roboto-semi-bold: 'RobotoSemiBold', sans-serif;
    --roboto-medium: 'RobotoMedium', sans-serif;
}