/* ONLY HOME CSS CODES */
.hero{
    /* background-color: red; */

    display: flex;

    padding: 50px 0px 190px 0px;
}

.hero-content{
    /* background-color: yellow; */
    flex-basis:50%;
    padding: 0 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

}

.hero-title{
   font-size: 70px;
   font-family: var(--roboto-bold);
   line-height: 80px;
}

.hero-text{
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color-light);
}

.btn-hero{
    background-color: var(--mainGreen);
    color: var(--mainWhite);
    font-family: var(--roboto-medium);
    font-size: 18px;
    padding: 20px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;

    &:hover{
        background-color: #5c8a7a;
    }
}

.hero-image{
    flex-basis:50%;
    /* background-color: blue; */

    display: flex;
    justify-content: flex-end;
}


  @media screen and (max-width: 1200px) {

    .hero-title{
        font-size: 56px;
        line-height: 64px;
    }

    .hero-text{
        font-size: 20px;
        line-height: 28px;
    }

    .btn-hero{
        font-size: 16px;
        padding: 16px 20px;
    }

    
  }

  @media screen and (max-width: 900px) {
    .hero{
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            gap: 40px;
        }

    .hero-content{
        align-items: center;
        padding: 0 24px;
        gap:12px
    }


     .hero-title{
        font-size: 36px;
        line-height: 56px;
    }

    .hero-text{
        font-size: 16px;
        line-height: 26px;
        width: 80%;
    }

    .hero-image{
        justify-content: center;
    }

    .hero-image img{
        width: 50%;
    }

}


  @media screen and (max-width: 600px) {
    .hero-image{
        display: none;
    }

      .hero-title{
        font-size: 24px;
        line-height: 26px;
    }

    .hero-text{
        font-size: 14px;
        line-height: 22px;
        width: 100%;
    }

    .btn-hero{
        font-size: 12px;
        padding: 10px 12px;
    }
  }
